.menu__card {
  cursor: pointer;
  h2 {
    color: white;
    font-family: Righteous;
    font-weight: 400;
    margin-bottom: 20px;
  }
  img {
    width: 100%;
  }
}

.menu__wrapper {
  display: flex;
  gap: 50px;
  margin: 150px 0;
}
