.hero {
  background: url(../../assets/images/hero.png) no-repeat center;
  background-size: cover;
  padding: 170px 0 170px;
  &__info {
    color: #ffffff;
    h1 {
      width: 530px;
      font-size: 72px;
      line-height: 94px;
    }
    p {
      width: 510px;
      font-size: 20px;
      line-height: 36px;
      margin: 30px 0;
      text-transform: capitalize;
    }
  }
  &__btn {
    width: 195px;
    height: 65px;
    font-size: 18px;
    font-weight: 700;
    background: #c99e71;
    color: #ffffff;
    border: none;
    text-transform: uppercase;
    transition: 0.3s;
  }
  &__btn:hover {
    background: #2421215e;
    cursor: pointer;
    border: 1px solid #c99e71;
  }
}

